# Project 1 -- Zeru Zhou

**TA Help:** NA

- Questions on piazza helps me a lot in this project.
    
**Collaboration:** NA
    
- Individual work and no classmate worked together.

## Question 1

In [1]:
550*24

13200

In [2]:
550*96

52800

There are 13200 cores, and there is 52800 GB = 52.8 TB of Memory on Brown. Here is link: https://www.rcac.purdue.edu/compute/brown.
For my own computer, there is 16 GB of Memory and 6 cores. It is a desktop I assembled on my own. I'll provide the links of CPU and Memory: cpu: https://www.amd.com/en/products/cpu/amd-ryzen-5-3600x 6 cores; Memory: https://www.gskill.com/product/165/362/1623029679/F4-4000C14D-16GTES 2*8 GB

## Question 2

In [1]:
system("hostname", intern = TRUE )

[1] "brown-a008.rcac.purdue.edu"

I'm running on the node brown-a008.rcac.purdue.edu

## Question 3

In [1]:
my_list = [1, 2, 3]
print(f'My list is: {my_list}')

My list is: [1, 2, 3]

In [2]:
%load_ext sql

In [3]:
%%sql
sqlite:////depot/datamine/data/movies_and_tv/imdb.db
SELECT * FROM titles LIMIT 5;

Done.

[('tt0000001', 'short', 'Carmencita', 'Carmencita', 0, 1894, None, 1, 'Documentary,Short'),
 ('tt0000002', 'short', 'Le clown et ses chiens', 'Le clown et ses chiens', 0, 1892, None, 5, 'Animation,Short'),
 ('tt0000003', 'short', 'Pauvre Pierrot', 'Pauvre Pierrot', 0, 1892, None, 4, 'Animation,Comedy,Romance'),
 ('tt0000004', 'short', 'Un bon bock', 'Un bon bock', 0, 1892, None, 12, 'Animation,Short'),
 ('tt0000005', 'short', 'Blacksmith Scene', 'Blacksmith Scene', 0, 1893, None, 1, 'Comedy,Short')]

In [6]:
%%bash
awk -F, '{miles=miles+$19}END{print "Miles: " miles, "\nKilometers:" miles*1.609344}' /depot/datamine/data/flights/subset/1990.csv

Miles: 3274877170
Kilometers:5.2704e+09

These are examples of how to run python, sql, and bash. The output for python is the printed my_list; for sql, the output is the first 5 rows of the given data; for bash, the output is the number of miles and converted number in kilometers.

## Question 4

There are 13 markdown cells, including the title "Project X", "TA help", "Questions", markdown explainations below each code cells, and the ending "Pledge". There are 5 code cells, with respect to 5 default "Questions".

## Question 5

In [3]:
550*24

[1] 13200

In [4]:
550*96

[1] 52800

In [1]:
550*24

13200

In [2]:
550*96

52800

The first 2 rows are run by R; the 3rd and 4th rows are run by python. The derive in the same result: There are 13200 cores, and there is 52800 GB = 52.8 TB of Memory on Brown.

## Question 6

In [1]:
dat <- read.csv("/depot/datamine/data/disney/splash_mountain.csv")
head(dat)

  date       datetime            SACTMIN SPOSTMIN
1 01/01/2015 2015-01-01 07:51:12 NA      5
2 01/01/2015 2015-01-01 08:02:13 NA      5
3 01/01/2015 2015-01-01 08:09:12 NA      5
4 01/01/2015 2015-01-01 08:16:12 NA      5
5 01/01/2015 2015-01-01 08:23:12 NA      5
6 01/01/2015 2015-01-01 08:29:12 NA      5

In [2]:
splash_mountain <- dat
rm(dat)

I run the given code and read the dataset. The output includes date, datetime, SACTMIN, and SPOSTMIN 4 columns as total. After renaming, the dataset "dat" has its new name as "splash_mountain".

## Question 7

In [ ]:
# I'm done now and ready to submit.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.