# Project 1 -- Zeru Zhou

**TA Help:** NA


**Collaboration:** NA
    
- Get help from Dr. Ward's videos

## Question 1

In [3]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [4]:
%%R
my_vector <- c(1,2,3,4,5)
my_vector

[1] 1 2 3 4 5

In [5]:
my_vector = (1,2,3,4,5)
my_vector

(1, 2, 3, 4, 5)

In [6]:
my_tuple = (1,2,3,4,5,)
my_tuple

(1, 2, 3, 4, 5)

In [7]:
my_list = [1,2,3,4,5,]
my_list

[1, 2, 3, 4, 5]

In [8]:
import numpy as np

my_array = np.array([1,2,3,4,5])
my_array

array([1, 2, 3, 4, 5])

In [9]:
my_tuple = (1,2,3,4,5)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [10]:
my_list = [1,2,3,4,5]
my_list[0] = 10
my_list

[10, 2, 3, 4, 5]

As we can see from the examples provided in the project, list is mutable but tuple is not. Numpy is a great package that could calculate data in dataframe form, or array.

## Question 2

In [11]:
my_list = [1,2,3,4,5]
my_list.append(7)
my_list.reverse()
my_list.append(6)
my_list

[7, 5, 4, 3, 2, 1, 6]

As we can see, by appending 7, reversing, and then appending 6, we got the element in the list with correct order.

## Question 3

In [12]:
my_list[::2]

[7, 4, 2, 6]

In [13]:
my_list[::-1]

[6, 1, 2, 3, 4, 5, 7]

In [14]:
my_list[1:4]

[5, 4, 3]

As above, step 2/reverse order/got 2nd through 4th are displayed.

## Question 4

In [17]:
import csv
file = open('/depot/datamine/data/noaa/2020.csv')
read_file = csv.reader(file, delimiter = ',')
for row in read_file:
    print(row[3])
    break
file.close()

168

The code is listed above. We got the 4th column of each row, here used break to prevent crashing.

## Question 5

In [3]:
import csv
with open('/depot/datamine/data/noaa/2020.csv') as my_file:
    reader = csv.reader(my_file)

    # TODO: create variable to store how many rows we've printed so far
    count = 0

    for row in reader:
        print(row)

        # TODO: increment the variable storing our count, since we've printed a row
        count += 1

        # TODO: if we've printed 10 rows, run the break statement
        if count == 10 :
            break

['AE000041196', '20200101', 'TMIN', '168', '', '', 'S', '']
['AE000041196', '20200101', 'PRCP', '0', 'D', '', 'S', '']
['AE000041196', '20200101', 'TAVG', '211', 'H', '', 'S', '']
['AEM00041194', '20200101', 'PRCP', '0', '', '', 'S', '']
['AEM00041194', '20200101', 'TAVG', '217', 'H', '', 'S', '']
['AEM00041217', '20200101', 'TAVG', '205', 'H', '', 'S', '']
['AEM00041218', '20200101', 'TMIN', '148', '', '', 'S', '']
['AEM00041218', '20200101', 'TAVG', '199', 'H', '', 'S', '']
['AFM00040938', '20200101', 'PRCP', '23', '', '', 'S', '']
['AFM00040938', '20200101', 'TAVG', '54', 'H', '', 'S', '']

As the code above, first 10 rows are printed.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.